<%- include("./partials/head.ejs")%>

     <body>
          <header>
               <%- include("./partials/navbar.ejs") %>
          </header>
          <main class="container-sm">
               <h1 class="text-primary text-center mt-4 ">
                    <%= pages.profile%>
               </h1>
          </main>
     </body>

     </html>